nav {
  width: 100%;
  background-color: #ffff;
  height: auto;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 0;
    flex: 1 1 1;
  }
  img:hover {
    cursor: pointer;
  }
  .logo {
    width: 200px !important;
    height: 100% !important;
  }
}

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}

input {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  display: block;
}

input::placeholder {
  font-size: 20px;
}

.searchParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.menuParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: antiquewhite;

  padding: 10%;
}

@media only screen and (max-width: 375px) {
  .root {
    margin: 15%;
  }
  .logo {
    width: 120px !important;
  }
  input {
    width: 50px;
  }
  input::placeholder {
    font-size: 12px;
  }
}
